.chart-color-oasis-blue {
  color: rgb(91, 154, 225);
}

.chart-color-green {
  color: rgb(16, 185, 129);
}

.chart-bg-oasis-blue {
  background-color: rgb(91, 154, 225);
}

.chart-bg-green {
  background-color: rgb(16, 185, 129);
}